
html {
	height: 100%;
}
body {
	font-family: "Lato";
	height: 100%;
}
.sidenav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: rgb(49, 49, 49);
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
}
.sidenav a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #ffffff;
	display: block;
	transition: 0.3s;
}
.sidenav a:hover {
	color: #38afff;
}
.sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}
@media screen and (max-height: 500px) {
	.sidenav {
		padding-top: 15px;
	}
	.sidenav a {
		font-size: 18px;
	}
}
.background {
	position: relative;
	
}
.background .container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.background .container h1 {
	color: #FFF;
	font-size: 3em;
	text-align: center;
	font-family: "Lato";
}
.background .container h2 {
	color: #FFF;
	font-size: 3em;
	line-height: 105%;
	margin-bottom: 0;
	text-align: center;
}
.headpage {
	background: linear-gradient( to bottom, rgba(0, 0, 0, 0.212), rgb(0, 0, 0)), url('https://i.imgur.com/0KzSXdk.jpeg');
	height: 800px;
	background-position: center center fixed;	
	margin:0;
	position: relative;
	top: 0;
	left: 0;
}
h2 {
	position: absolute;
	top: -10px;
	left: 30px;
	color: #FFF;
}

.headpage {
	height: 100%;
	width: 100%;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: table;

	background: linear-gradient( to bottom, rgba(0, 0, 0, 0.212), rgb(0, 0, 0)), url('https://i.imgur.com/0KzSXdk.jpeg');
	position: absolute;
	left:0;
	top:0;
  }


.arrowdown{
    display:inline-block;
    font-size: 40px;
    line-height: 50px;
    color:white;
    width: 50px;
    height: 50px;
    text-align: center;
    vertical-align: bottom;
}
